.contact-parent-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
}

.contact-heading{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 8%;
    margin-left: 10%;
}

.contact-heading h2{
    text-align: left;
    font: normal normal bold 50px/76px Poppins;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}

.contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 1264px;
    height: 940px;
    margin-left: 25%;
    margin-top: 5%;
    background: #A7C8AB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-left: 3%;
    gap: 2rem;
                
}
.contact-form h5{
    text-align: left;
    font: normal normal 600 26px/39px Poppins;
    letter-spacing: 0px;
    color: #080808;
    opacity: 1;
}
.contact-form input{
    background-color: white;
    /* text-align: left; */
    font: normal normal 600 17px/26px Poppins;
    letter-spacing: 0px;
    color: #08080880;
    opacity: 1;
    border-radius: 10px;
    border: none;
    outline: none;
    width: 990px;
    height: 96px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
}

.contact-message{
    width: 990px;
    height: 271px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    background-color: white;
    /* text-align: left; */
    font: normal normal 600 17px/26px Poppins;
    letter-spacing: 0px;
    color: #08080880;
    outline: none;
    text-align: center;
    align-items: center;
}

.submit-btn{
    background: #519259 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    color: whitesmoke;
    /* text-align: left; */
    font: normal normal 600 32px/48px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 20%;
    outline: none;
    border: none;
    margin-left: -77%;
    padding: 0.4em;
}
.submit-btn:hover{
    background-color: white;
    color: #519259;
    cursor: pointer;
}
.btn-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 4%;
    margin-left: 13%;
}

.btn-container button{
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    background-color: #519259;
    color: white;
    width: 25%;
    outline: none;
    border: none;
    gap: 2rem;
    text-align: left;
    font: normal normal 600 20px/30px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0.6em;
}
.btn-container button:hover{
    background-color: white;
    color: #519259;
    cursor: pointer;
}
.btn-container img{
    width: 18%;
}


